<script>
  function addFlightClassFields(){
    $("#flightTypeInfo").empty();
    count = document.getElementById("noClasses").value;
    fields = ["classname","noofseats","price"]
    /*Adding Passenger fields dynamically*/
    for(i=0;i<count;i++){
      for(j=0;j<fields.length;j++){
        console.log(count);
          var element = document.createElement("input")
          element.setAttribute('type', 'text');
          element.setAttribute('style','width=50px');
          element.setAttribute('name',"flighttype["+i+"]"+"["+fields[j]+"]");
          element.setAttribute('placeholder',fields[j]+" "+(i+1));
          //element.setAttribute('class',"form-control");
          $("#flightTypeInfo").append(element);
          $("#flightTypeInfo").append("   ");
          $("#flightTypeInfo").append("   ");
        }
       /*Adding submit button dynamically*/
      $("#flightTypeInfo").append("</br>");
      $("#flightTypeInfo").append("</br>");
    }
    var element = document.createElement("input");
    element.setAttribute('type', 'submit');
    element.setAttribute('class', 'btn btn-primary');
    element.setAttribute('onclick','submitForm()');
    $("#flightTypeInfo").append(element);
  }
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function submitForm(){
      ids = ["flight_id"]
      for(i=0;i<ids.length;i++){
          var temp = getParameterByName(ids[i])
          document.getElementById(ids[i]).value = temp
      }
  }

</script>

<div id="mainBody" style="padding:50px">
  <div class="row">
    <div class="col-sm-12">
      <input type="text" id="noClasses" class="form-control" placeholder="Number of classes"></br>
      <button type="button" class="btn btn-primary" onclick="addFlightClassFields()"> Confirm</button>
      <form method="post" action="/profile/admin/createFlightClass" style="margin-top:50px" >
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="flight_id" id="flight_id" type="hidden">
        <div id="flightTypeInfo">
        </div>
      </form>
    </div>
  </div>
</div>
