<script>
  classes = "<%=@flightJavaStr%>";
  classes = classes.split(",")
  classes.pop()
  console.log(classes)
  function addPassengerFields(){
    $("#passengerInfo").empty();
    count = document.getElementById("noPassengers").value;
    fields = ["name","aadharno","age"]
    /*Adding Passenger fields dynamically*/
    for(i=0;i<count;i++){
      for(j=0;j<fields.length;j++){
        console.log(count);
        var element = document.createElement("input")
        element.setAttribute('type', 'text');
        element.setAttribute('style','width=200px');
        element.setAttribute('name',"passenger["+i+"]"+"["+fields[j]+"]");
        element.setAttribute('placeholder',"Passenger "+(i+1)+" "+fields[j]);
        element.setAttribute('required',"required");
        //element.setAttribute('class',"form-control");
        element.setAttribute('width',7);
        $("#passengerInfo").append(element);
        $("#passengerInfo").append("  ");
        $("#passengerInfo").append("  ");
      }
        /*Adding select field dynamically*/
        selectList = document.createElement("select");
        selectList.setAttribute('name',"passenger["+i+"]"+"[class]");
        $("#passengerInfo").append(selectList);
        for (var k = 0; k < classes.length; k++) {
          var option = document.createElement("option");
          option.value = classes[k];
          option.text = classes[k];
          selectList.appendChild(option);
       }
       /*Adding submit button dynamically*/
      $("#passengerInfo").append("</br>");
      $("#passengerInfo").append("</br>");
    }
    var element = document.createElement("input")
    element.setAttribute('type', 'submit');
    element.setAttribute('class', 'btn btn-primary');
    element.setAttribute('onclick','submitForm()');
    $("#passengerInfo").append(element);
  }
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function submitForm(){
      ids = ["flight_id","jrnydate"]
      for(i=0;i<ids.length;i++){
          var temp = getParameterByName(ids[i])
          document.getElementById(ids[i]).value = temp
      }
  }

</script>

<div id="mainBody" style="padding:50px">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <input type="text" id="noPassengers" class="form-control" placeholder="Number of Passengers"></br>
      <button type="button" class="btn btn-primary" onclick="addPassengerFields()"> Confirm</button>
      <form method="post" action="/confirm" style="margin-top:50px" >
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="flight_id" id="flight_id" type="hidden">
        <input name="jrnydate" id="jrnydate" type="hidden">
        <div id="passengerInfo">
        </div>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
