<script>
  classes = "<%=@flightJavaStr%>";
  availableSeats = "<%=@availbleJavastr%>";
  classes = classes.split(",")
  availableSeats = availableSeats.split(",");
  classes.pop();
  availableSeats.pop();
  availableSeatMap = [];
  /*function creating availableSeatMap for all classes*/
  totalAvailableSeats = 0;
  count = 0;
  for(i=0;i<availableSeats.length;i++){
    temp = {}
    temp.classname = classes[i];
    temp.available = parseInt(availableSeats[i]);
    totalAvailableSeats+=temp.available;
    availableSeatMap.push(temp);
  }
  console.log(availableSeatMap);
  function addPassengerFields(){
    $("#passengerInfo").empty();
    count = document.getElementById("noPassengers").value;
    if(count>totalAvailableSeats){
      alert("Sorry:-(..Total no of seats available is : "+totalAvailableSeats);
      return;
    }
    fields = ["name","aadharno","age"]
    /*Adding Passenger fields dynamically*/
    for(i=0;i<count;i++){
      for(j=0;j<fields.length;j++){
        console.log(count);
        var element = document.createElement("input")
        element.setAttribute('type', 'text');
        element.setAttribute('style','width=200px');
        element.setAttribute('name',"passenger["+i+"]"+"["+fields[j]+"]");
        element.setAttribute('id',"passenger["+i+"]"+"["+fields[j]+"]");
        element.setAttribute('placeholder',"Passenger "+(i+1)+" "+fields[j]);
        element.setAttribute('required',"required");
        //element.setAttribute('class',"form-control");
        element.setAttribute('width',7);
        $("#passengerInfo").append(element);
        $("#passengerInfo").append("  ");
        $("#passengerInfo").append("  ");
      }
        /*Adding select field dynamically*/
        selectList = document.createElement("select");
        selectList.setAttribute('name',"passenger["+i+"]"+"[class]");
        selectList.setAttribute('id',"passenger["+i+"]"+"[class]");
        $("#passengerInfo").append(selectList);
        for (var k = 0; k < classes.length; k++) {
          var option = document.createElement("option");
          option.value = classes[k];
          option.text = classes[k];
          selectList.appendChild(option);
       }
       /*Adding submit button dynamically*/
      $("#passengerInfo").append("</br>");
      $("#passengerInfo").append("</br>");
    }
    var element = document.createElement("input")
    element.setAttribute('type', 'submit');
    element.setAttribute('class', 'btn btn-primary');
    $("#passengerInfo").append(element);
  }
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function submitForm(){
      ids = ["flight_id","jrnydate"];
      booked = {};
      /*Check the no of seats available for booking*/
      for(j=0;j<count;j++){
        temp = document.getElementById("passenger["+j+"][class]").value;
        if(!booked[temp])
          booked[temp] = 0
        booked[temp]++;
      }
      /*Check the no of seats available*/
      for(k=0;k<availableSeatMap.length;k++){
          value = availableSeatMap[k]["classname"]
          if(booked[value]>availableSeatMap[k]["available"]){
            alert("Sorry "+value+" has only "+availableSeatMap[k]["available"]+" seats left");
            return false;
          }
      }
      for(i=0;i<ids.length;i++){
          var temp = getParameterByName(ids[i])
          document.getElementById(ids[i]).value = temp
     }
  }
</script>

<div id="mainBody" style="padding:50px">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <input type="text" id="noPassengers" class="form-control" placeholder="Number of Passengers"></br>
      <button type="button" class="btn btn-primary" onclick="addPassengerFields()"> Confirm</button>
      <form method="post" action="/confirm" style="margin-top:50px" onsubmit="return submitForm()" >
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="flight_id" id="flight_id" type="hidden">
        <input name="jrnydate" id="jrnydate" type="hidden">
        <div id="passengerInfo">
        </div>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
