
<div id="mainBody" style="padding:50px">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <form action="/list" method="get">
        <div class="row">
          <div class="col-sm-3">
           <input type="text" name="source" id="source" value="" class="form-control" placeholder="Source" required="required"/>
          </div>
          <div class="col-sm-3">
            <input type="text" name="destination" id="destination" value="" class="form-control" placeholder="Destination" required="required"/>
          </div>
          <div class="col-sm-4">
            <input type="date" name="jrnydate" id="jrnydate" value="" class="form-control" placeholder="Journey Date" required="required"/>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
       </div>
    </form>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
